<%- include("header") -%>
<h1>Products</h1>

<!-- products cards -->

<!-- solar -->
<div class="product card mb-3" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="https://5.imimg.com/data5/NI/BS/MY-12908953/solar-water-heaters-500x500.jpg"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Solar Water Heater</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <!-- send enquiry -->
        </p>
      </div>
    </div>
  </div>
</div>

<!-- chaff-cutter -->
<div class="product card mb-3" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="https://chhibberagri.com/wp-content/uploads/2019/12/AGR.CHA_.32125436_1556363292874-600x600.jpg"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Chaff-cutter</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <!-- send enquiry -->
        </p>
      </div>
    </div>
  </div>
</div>

<%- include("footer") -%>
